/* 
  Created By: Anna K. Phung
  Last Updated: March 28, 2022
  Description: Styling for index.html
*/

:root {
  --red: #FF9AA2;
  --yellow: #FEE4B3;
  --green: #AEDBB0;
  --blue: #9FCAE9;
  --dark-blue: #6893DE;
  --brown: #704523;
  --black: #30323d;
  --white: #F6F4EC;
}

/* element */
/* removes extra padding around page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--yellow);
  color: var(--black);
}

header {
  background-color: var(--red);
  text-align: center;
  padding: 2%;
  width: 100%;
  box-shadow: 0px 0px 5px 0px;
}

footer {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5%;
  text-align: center;
}

ul {
  list-style-type: square;
}

/* id */



/* class */
.container {
  /* position: relative; */
  color: var(--brown);
  margin: 5%;
  text-align: center;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.srch-btn {
  color: var(--black);
}