/* 
    Created By: Dennis Lee
    Created On: 03/27/2022
    Last Updated: 03/27/2022
    Description: Project 0 css styling
 */

/*
    Importing custom font style for the webpage with correct
    path to fonts folder
*/
@font-face {
    font-family:botwFont;
    src: url("../fonts/HyliaSerif.otf") format("opentype");
}

/*
    Apply font style to all text in div elements
*/
div {
    font-family: botwFont;
}

#title-block {
    display:flex;
    justify-content: center;
}

#search-block {
    display: flex;
    justify-content: center;
}

#error-input {
    text-align: center;
    margin-top: 0.8em;
}

/* 
    Have the error logo display inline with the error message
*/
#error-logo {
    display: inline-flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#error-invalid-msg {
    display: inline;
    vertical-align: middle;
}

#search-link {
    display:flex;
    justify-content: center;
    margin: 1em 1em;
}

#display-result-section {
    justify-content: space-between;
    margin: 2em 2em;
}

.results-block {
    width: 20vw;
    height: 15vw;
    margin: auto;
    background-color: #C0C0C0;
    text-align: center;
}

#error-block {
    width: 50vw;
    height: 10vw;
    margin: auto;
    background-color: #C0C0C0;
    text-align: center;
    color: #c19a6b;
    font-size: 3em;
    margin-bottom: 1em;
}

#no-material-message {
    display: inline;
    text-align: center;
    vertical-align: middle;
    padding-top: 2.5em;
}

.history-table {
    width: 95%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

.history-table thead {
    background-color: #ffcc00;
}